---
import BlogCard from "../../components/BlogCard.astro";
import Layout from "../../layouts/Layout.astro";
import _tags from "../../json/tags.json";
import type { MarkdownInstance } from "astro";

const globs = [] as MarkdownInstance<Record<string, any>>[];
const g = await import.meta.glob("../blogs/*.md");

for (var k in g) {
  const c = await g[k]();
  globs.push(c as MarkdownInstance<Record<string, any>>);
}

export function getStaticPaths() {
  return _tags;
}

const { tag } = Astro.params;
---

<Layout title="ป้ายบอกทาง | MintCho.cc">
  <h1 class="text-3xl">ป้ายบอกทาง | {tag == "all" ? "ทั้งหมด" : tag}</h1>
  <ul>
    {
      globs
        .filter((item) => {
          if (tag == "all") {
            return item;
          } else {
            return item.frontmatter.tags.includes(tag);
          }
        })
        .map((blog) => {
          return (
            // <li>
            //   <a href={blog.url}>{blog.frontmatter.title}</a>
            // </li>
            <BlogCard
              title={blog.frontmatter.title}
              link={blog.url}
              date={blog.frontmatter.date}
              description={blog.rawContent}
              tags={blog.frontmatter.tags}
            />
          );
        })
    }
  </ul>
</Layout>
