---
import type { MarkdownInstance } from "astro";
import BlogCard from "../components/BlogCard.astro";
import Layout from "../layouts/Layout.astro";
import img from "../images/meta/home.png";

const globs = [] as MarkdownInstance<Record<string, any>>[];
const g = await import.meta.glob("./blogs/*.md");

for (var k in g) {
  const c = await g[k]();
  globs.push(c as MarkdownInstance<Record<string, any>>);
}
---

<Layout
  title="Home"
  desc="à¸ªà¸§à¸±à¸ªà¸”à¸µà¸Šà¸²à¸§à¹€à¸™à¹‡à¸•, à¸œà¸¡ à¸•à¹‰à¸™ à¹€à¸›à¹‡à¸™ Software Developer à¸«à¸™à¹‰à¸²à¹ƒà¸«à¸¡à¹ˆà¹à¸•à¹ˆà¹„à¸Ÿà¸¡à¸­à¸”à¹„à¸›à¹à¸¥à¹‰à¸§ðŸ˜­ à¸—à¸µà¹ˆà¸Šà¸·à¹ˆà¸™à¸Šà¸­à¸š à¸à¸²à¸£à¸—à¸³à¸­à¸²à¸«à¸²à¸£, à¸ªà¸£à¹‰à¸²à¸‡à¸™à¸¹à¹ˆà¸™à¸™à¸µà¹ˆ à¹à¸¥à¸° à¸¨à¸¶à¸à¸©à¸²à¸­à¸°à¹„à¸£à¹„à¸›à¹€à¸£à¸·à¹ˆà¸­à¸¢"
  imgPath={img.src}
>
  <h1 class="text-3xl">à¸ªà¸´à¹ˆà¸‡à¸™à¹ˆà¸²à¸ªà¸™à¹ƒà¸ˆ</h1>
  <ul class="mt-5">
    {
      globs
        .filter((item) => {
          return !item.file.includes("/tmp") && !item.frontmatter.isDraft;
        })
        .map((blog) => {
          return (
            <BlogCard
              title={blog.frontmatter.title}
              link={blog.url}
              date={blog.frontmatter.date}
              description={blog.rawContent}
              tags={blog.frontmatter.tags}
            />
          );
        })
    }
  </ul>
</Layout>
