---
import type { MarkdownInstance } from "astro";
import BlogCard from "../components/BlogCard.astro";
import Layout from "../layouts/Layout.astro";

const globs = [] as MarkdownInstance<Record<string, any>>[];
const g = await import.meta.glob("./blogs/*.md");

for (var k in g) {
  const c = await g[k]();
  globs.push(c as MarkdownInstance<Record<string, any>>);
}

---

<Layout title="บ้าน">
  <h1 class="text-3xl">สิ่งน่าสนใจ</h1>
  <ul>
    {
      globs
        .filter((item) => {
          return !item.file.includes("/tmp") && !item.frontmatter.isDraft;
        })
        .map((blog) => {
          return (
            <BlogCard
              title={blog.frontmatter.title}
              link={blog.url}
              date={blog.frontmatter.date}
              description={blog.rawContent}
              tags={blog.frontmatter.tags}
            />
          );
        })
    }
  </ul>
</Layout>
