---
const props = Astro.props;
---

<a href={props.link} class="">
  <div
    class="border-b text-ellipsis border p-2 mt-3 rounded-md hover:border-custom-mint"
  >
    <p class="underline decoration-custom-mint">
      {props.title}
    </p>

    <small class="line-clamp-2">
      {props.description}
    </small>
    <div class="flex justify-between mt-3">
      <div class="flex gap-1">
        {
          props.tags.map((tag: string) => {
            return <small>#{tag}</small>;
          })
        }
      </div>
      <small>{props.date}</small>
    </div>
  </div>
</a>
