---
import Layout from "../layouts/Layout.astro";
import type { MarkdownLayoutProps } from "astro";
import { Image } from "astro:assets";

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
  date: string;
  tags: string[];
  isDraft: boolean;
  desc?: string;
  image: string;
}>;

export type Outline = {
  name: string;
  class: string;
};

const { frontmatter, url, headings } = Astro.props;
const heads: Outline[] = headings.map((item) => {
  return {
    name: item.text,
    class: item.slug,
  };
});

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/blogs/*.{jpeg,jpg,png,gif}"
);
console.log(images[frontmatter.image]())
---

<Layout title={frontmatter.title} outline={heads} desc={frontmatter.desc}>
  <p class="text-5xl mb-1">{frontmatter.title}</p>
  <small>{frontmatter.date}</small>
  <hr class="my-5" />
  <Image src={images[frontmatter.image]()} alt={frontmatter.title} />

  <div
    class="prose text-pretty max-w-full text-white prose-headings:text-white prose-headings:underline prose-headings:decoration-custom-mint"
  >
    <slot />
  </div>
</Layout>
